.kk-timepicker
  font-size: 16px
  position:relative

  &__input-group
    input[type=text]
      display:table-cell
    input[type=time]
      display:none
    &_touch
      input[type=text]
        display:none
      input[type=time]
       display:table-cell



.kk-timepicker-popover
  position:absolute
  top: 100%
  margin-top: 8px
  padding: 0 10px
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175)
  border: 1px solid rgba(0, 0, 0, 0.2)
  border-radius: 3px
  width: 160px
  z-index: 99999
  background: #fff;

  &:before
    border-bottom: 7px solid rgba(0, 0, 0, 0.2)
    border-left: 7px solid transparent
    border-right: 7px solid transparent
    content: ""
    display: inline-block
    position: absolute
    top: -7px
    left: 6px


  &:after
    content: ""
    position:absolute
    border-bottom: 6px solid #FFFFFF
    border-left: 6px solid transparent
    border-right: 6px solid transparent
    display: inline-block
    position: absolute
    top: -6px
    left: 7px


  &__separator
    float: left
    display: block
    width: 5px;
    height: 1px
    text-align: center
    position: relative


    &:after
      top: 60px
      content: ":"
      position:absolute
      height: 16px
      line-height: 16px
      transform: translate(-50%, -50%)


    &--empty
      &:after
        content: ""


  &__input-wrapper
    width: 40px
    float: left
    height: 100%

  &__button
    display:block
    margin: 0 auto
    width: 100%;
    padding: 0
    border: none
    background: none
    padding-bottom: 100%
    position:relative

    &:hover
      opacity: 0.8

    &:active
      opacity: 0.2

    &:focus
      outline: none

    > i
      position:absolute;
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)


  &__input
    text-align:center
    font-size: 1rem
    display:block
    margin: .25rem  auto
    padding: 0
    font-size: 16px
    outline: none
    width: 4ex;



